<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snow Shack Nav Phase 1</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<div class="nav-bar">
  <div class="brand">
    <a href="/"><h1>SNOW SHACK</h1></a>
    <p>gear <span>•</span> up <span>•</span> for <span>•</span> the <span>•</span> snow.</p>
  </div>

   <div class="nav-items">
    <div class="nav-item shop">
      <span>SHOP</span>
      <div class="dropdown">
        <a href="/gear">gear</a>
        <a href="skis.html">Skis</a>
        <a href="boots.html">Boots</a>
        <a href="bindings.html">Bindings</a>
        <a href="jackets.html">Jackets</a>
        <a href="snowpants.html">Snow Pants</a>
        <a href="socks.html">Socks</a>
        <a href="accessories.html">Accessories</a>
      </div>
    </div> 
    
    <div class="nav-item passes">
      <span>PASSES</span>
      <div class="dropdown">
        <a href="/pass">MY PASSES</a>
        <a href="/pass">DAY PASS</a>
        <a href="/pass">SHACK PASS</a>
        <a href="/pass">VIP PASS</a>
        <a href="/pass">GROUP PACKAGES</a>
      </div>
    </div>

    <div class="nav-item mtn">
  <span>YOUR MTN.</span>
  <div class="dropdown">
    <div class="dropdown-title">BOGUS BASIN ID.</div>
    <a href="/mtn">DETAILS</a>
    <a href="/mtn">HOURS</a>
    <a href="/mtn">MAP</a>
    <a href="/mtn">CAMS</a>
    <a href="/mtn">WEATHER</a>
  </div>
</div>

    <div class="nav-item"><span>CART</span></div>
    <div class="nav-item"><span>ABOUT</span></div>
  </div>
</div> 
</head>
<body>
